:root {
  --bs-primary: #ff4655;
  --bs-primary-dark: #c42431;
  --bs-primary-rgb: 255, 70, 85;
  --bs-dark-bg-subtle: #393939;
}

/* ------------------------- REFERENCIAS PARA TESTING ------------------------- */
/*
Mobiles
----------------------
320x568
375x812

Tablets
----------------------
768x1024
834x1194

Laptops y Desktop
----------------------
1366x768
1440x900
1920x1080
2560x1440
*/

/* ----------------------------- BREAKPOINTS CSS ---------------------------- */
/*
480px
768px
1024px
1366px
1440px
*/

/* -------------------------------- Generals -------------------------------- */
html {
  font-size: 62.5% !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem !important;
}

main {
  min-height: 100vh;
}
/* -------------------------------- Generals: Headings -------------------------------- */
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

/* ----------------------------- Generals: Links ---------------------------- */
a.link-primary:hover {
  color: var(--bs-dark) !important;
}

.dark a.link-primary:hover,
.bg-dark a.link-primary:hover {
  color: var(--bs-light) !important;
}

/* ---------------------------- Generals: Tables ---------------------------- */
table {
  width: 100%;
  overflow: hidden;
}

table thead {
  display: none;
}

@media (min-width: 768px) {
  table thead {
    display: table-header-group;
  }
}

table th {
  background-color: var(--bs-gray-200);
  border-bottom: 3px solid var(--bs-gray-300);
  color: var(--bs-gray-600);
  padding: 2rem;
}

table.bg-dark th {
  background-color: var(--bs-gray-800);
  border-bottom: 3px solid var(--bs-gray-900);
  color: var(--bs-gray-500);
}

table td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.6rem;
}

@media (min-width: 768px) {
  table td {
    display: table-cell;
    align-items: initial;
    justify-content: initial;
    padding: 1rem 1.6rem;
  }

  table td[data-label="#"] {
    display: none;
  }
}

table tr:nth-child(odd) td {
  background-color: var(--bs-gray-300);
}

table.bg-dark tr:nth-child(odd) td {
  background-color: var(--bs-gray-700);
  color: var(--bs-gray-200);
}

@media (min-width: 768px) {
  table tr:nth-child(odd) td {
    background-color: var(--bs-gray-100);
  }
}

table td::before {
  content: attr(data-label);
  color: var(--bs-gray-600);
  display: block;
}

@media (min-width: 768px) {
  table td::before {
    display: none;
  }
}

table td.blank {
  padding-top: 3rem;
  border-bottom: 2px solid var(--bs-gray-400);
}

@media (min-width: 768px) {
  table td.blank {
    display: none;
  }
}

table tr:last-of-type td.blank {
  border: none;
}

/* -------------------------------- Generals: Buttons -------------------------------- */
.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    width: auto;
  }
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  border-color: var(--bs-dark);
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.dark .btn-primary:hover,
.bg-dark .btn-primary:hover {
  border-color: var(--bs-light);
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.btn.btn-primary:active {
  border-color: var(--bs-primary-dark);
  background-color: var(--bs-primary-dark);
  color: var(--bs-light);
}

.btn-primary:disabled {
  border-color: var(--bs-gray-200);
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-500);
}

.btn.btn-outline-primary,
.btn.btn-outline-primary:active {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:focus-within {
  background-color: transparent;
  border-color: var(--bs-primary);
}

.btn.btn-outline-primary:hover {
  border-color: var(--bs-primary) !important;
  color: var(--bs-light);
  background-color: var(--bs-primary) !important;
  box-shadow: none !important;
}

.btn-outline-primary:disabled {
  border-color: var(--bs-gray-200);
  color: var(--bs-gray-500);
}

.btn.rounded-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea,
select {
  color: var(--bs-dark);
  outline: none;
}

.input-group textarea.border-3:focus,
.input-group select.border-3:focus,
.input-group input.border-3:focus {
  border: 3px solid var(--bs-primary) !important;
}

.dropdown-item:hover {
  background-color: var(--bs-dark);
  color: var(--bs-light) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-primary-dark);
  color: var(--bs-light) !important;
}

/* --------------------------------- LOADER --------------------------------- */
.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    var(--bs-primary) 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}

/* ----------------------------- HEADER ----------------------------- */
header .nav-link:hover {
  color: var(--bs-primary);
}

header .dropdown-menu .link-primary:hover {
  color: var(--bs-light) !important;
}

.header-hero {
  min-height: 40vh;
  background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/b116aec7edfba5bc9e3ec68ccd69b0e7202dcc68-3440x1020.jpg?auto=format&fit=fill&q=80&h=800);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header-hero {
    min-height: 50vh;
  }
}

.header-hero .page-title {
  font-size: 8rem;
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  .header-hero .page-title {
    font-size: 20rem;
  }
}

a.navbar-brand {
  font-size: 2.5rem;
}

.navbar-nav .btn.btn-carrito:focus,
.navbar-nav .btn.btn-carrito:focus-within {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: var(--bs-primary) !important;
}

.navbar-nav .btn.btn-carrito.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-white);
}

header .btn-outline-primary.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
}

header .btn-carrito:focus {
  color: var(--bs-primary);
}

header .link-light:hover {
  color: var(--bs-primary) !important;
}

header .mobile-menu {
  max-height: 0;
  transition: all 0.8s ease-in-out;
}

header .mobile-menu.show {
  max-height: 35rem;
}

header .btn-mobile-menu {
  display: inline-block;
  width: auto;
}

/* ----------------------------- FOOTER NAV MENU ---------------------------- */
.bottom-menu li {
  position: relative;
  flex: 20% 0 0;
  margin: auto;
}

.bottom-menu li a,
.bottom-menu li button {
  color: var(--bs-dark);
  text-decoration: none;
}

.dark-mode.bottom-menu li a,
.dark-mode.bottom-menu li button {
  color: var(--bs-light);
}

.bottom-menu li i {
  position: relative;
  transition: 0.5s;
}

.bottom-menu li .text {
  font-size: 1rem;
}

.bottom-menu li:nth-child(3) {
  transform: translateY(-1rem);
}

.bottom-menu li:nth-child(3) a {
  transform: translateY(-1rem);
}

.bottom-menu li a.active {
  color: var(--bs-primary);
}

.bottom-menu li:nth-child(3) i {
  background-color: var(--bs-dark);
  border: 0.6rem solid var(--bs-dark);
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.bottom-menu.dark-mode li:nth-child(3) i {
  background-color: var(--bs-light);
  color: var(--bs-dark) !important;
}

.bottom-menu li:nth-child(3) a.active i {
  background-color: var(--bs-primary);
}

.bottom-menu li:nth-child(3) i:not(.dark-mode) {
  color: var(--bs-light) !important;
}

.bottom-menu i svg {
  width: 1.8rem;
  height: 1.8rem;
}

/* --------------------------------- HERO -------------------------------- */
.hero {
  background-image: url(/img/generic-background.jpeg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  margin-top: -7rem;
}

.hero:not(.index) h1 {
  font-size: 5rem;
}

@media (min-width: 768px) {
  .hero:not(.index) h1 {
    font-size: 10rem;
  }
}

/* --------------------------------- INDEX PAGE -------------------------------- */
.hero.index {
  background-image: url(/img/home-background.jpg);
  min-height: 80vh;
}

.hero.index .btn-light:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
}

.category-card {
  min-height: 30rem;
}

@media (min-width: 1024px) {
  .category-card {
    min-height: 34rem;
  }
}

.category-card .card-image {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 10rem;
  min-height: 10rem;
}

section.weapon-details .img-weapon {
  position: relative;
  height: 100vh;
  width: 90%;
  background: url(/img/pistol-img.png) center / 80% no-repeat;
}

.weapon-details .ripple,
.weapon-details .ripple::before {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}

.ripple {
  left: 35%;
  top: 40%;
}

.ripple::before {
  content: "";
  animation: rippleAnimation 1s ease-in-out infinite;
}

.ripple-tooltip,
.ripple-tooltip::before,
.ripple-tooltip::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ripple-tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-top-color: var(--bs-light);
}
.ripple-tooltip::after {
  content: attr(title);
  background-color: var(--bs-light);
  white-space: pre;
  padding: 1rem;
  border-radius: var(--bs-border-radius);
  top: -5rem;
}

@keyframes rippleAnimation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* ----------------------------- SHOP CONTAINER ----------------------------- */
.shop-container {
  margin-top: -6rem;
}

.search-bar form {
  border-color: grey !important;
}

.search-bar.dark form {
  border-color: var(--bs-light) !important;
}

.search-bar input {
  background-color: var(--bs-light) !important;
  border: none !important;
  outline: none !important;
}

.search-bar.dark input {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light) !important;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
}

.pagination > .btn {
  width: auto;
}

/* ------------------------------ CATEGORY LIST ----------------------------- */
.categories-wrapper {
  max-height: 0;
  transition: max-height 0.3s ease-in;
  pointer-events: none;
  overflow: hidden;
}

.categories-wrapper.dark {
  color: var(--bs-light);
}

@media (min-width: 992px) {
  .categories-wrapper {
    max-height: 50rem;
    pointer-events: initial;
  }
}

.categories-wrapper.active {
  pointer-events: initial;
  max-height: 50rem;
}

.category-list button {
  font-size: 1.1rem;
}

.category-list button.active {
  background-color: var(--bs-dark) !important;
  border-color: var(--bs-dark) !important;
  color: var(--bs-light);
}

.dark .category-list button.active {
  background-color: var(--bs-light) !important;
  border-color: var(--bs-light) !important;
  color: var(--bs-dark);
}

.categories-wrapper.dark button {
  color: var(--bs-light);
}

.categories-wrapper.dark button:hover {
  background-color: var(--bs-black);
}

.category-list button:hover {
  background-color: var(--bs-gray-400);
}

/* ------------------------------- WEAPON ITEM/CARD ------------------------------ */
.dark .weapon-card {
  border-color: var(--bs-light) !important;
  color: var(--bs-light) !important;
}

.weapon-card .weapon-img {
  min-height: 10rem;
}

@media (min-width: 768px) {
  .weapon-card .weapon-img {
    min-height: 15rem;
  }
}

.weapon-img > span:not(.tag-weapon) {
  background-color: var(--bs-gray-500);
  width: 4rem;
  height: 4rem;
}

.dark .weapon-card .weapon-img > span:not(.tag-weapon) {
  background-color: var(--bs-gray-200);
}

@media (min-width: 768px) {
  .weapon-img > span:not(.tag-weapon) {
    width: 8rem;
    height: 8rem;
  }
}

.weapon-img img {
  transform: translate(-50%, -50%);
  max-width: 60%;
}

@media (min-width: 768px) {
  .weapon-img img {
    max-width: 60%;
  }
}

.weapon-card .actions .btn-primary {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .weapon-card .actions .btn-primary {
    font-size: 1.4rem;
  }
}

.dark .weapon-card .actions .btn-primary:hover {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.weapon-card .actions a {
  color: var(--bs-primary);
}

.dark .weapon-card .actions a:hover {
  color: var(--bs-light) !important;
}

.weapon-card .input-quantity {
  justify-content: center;
}

.weapon-card .input-quantity button {
  width: auto;
}

.weapon-card .add-to-cart {
  font-size: 1rem !important;
  width: 100%;
}

@media (min-width: 768px) {
  .weapon-card .add-to-cart {
    font-size: 1.6rem !important;
  }
}

/* ---------------------------------- LOGIN --------------------------------- */
.form-login {
  max-width: 45rem; /* 450px aprox */
}

.form-login input:-webkit-autofill,
.form-login input:-webkit-autofill:hover,
.form-login input:-webkit-autofill:focus,
.form-login input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.form-login .link-primary:hover {
  color: var(--bs-light) !important;
}

.form-login .btn-primary:hover {
  background-color: var(--bs-light);
  color: var(--bs-primary);
}

/* ----------------------------- PRODUCT-DETAIL ----------------------------- */
.page-product-detail {
  background-image: url(/img/bg-product.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page-product-detail.dark {
  background-image: url(/img/bg-dark-product.png);
}

@media (min-width: 768px) {
  .page-product-detail.dark .col-img {
    background-color: var(--bs-dark-bg-subtle);
    border-radius: var(--bs-border-radius-lg);
  }
}

@media (min-width: 1024px) {
  .page-product-detail.dark .col-img {
    background-color: transparent;
    border-radius: 0;
  }
}

.page-product-detail .product-image {
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-product-detail .product-image {
    width: auto;
    max-width: 35rem;
    max-height: 35rem;
  }
}

.product-details .category {
  width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
  .product-details .category {
    width: auto;
  }
}

.product-details .title {
  font-size: 3rem;
}

@media (min-width: 1024px) {
  .product-details .title {
    font-size: 4rem;
  }
}

.product-details .price {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .product-details .price {
    font-size: 3rem;
  }
}

.product-details .input-quantity {
  justify-content: center;
}

@media (min-width: 1024px) {
  .product-details .input-quantity {
    justify-content: flex-start;
  }
}

.product-details .input-quantity button {
  width: auto;
}

.input-quantity input {
  border: 0.3rem solid var(--bs-primary);
  height: 4rem;
  width: 4rem;
}

.input-quantity button:disabled {
  background-color: var(--bs-gray-200);
  border-color: var(--bs-gray-200);
  color: var(--bs-light);
}

/* ------------------------------ PAGE:CONTACT ------------------------------ */
.contact-form {
  max-width: var(--bs-breakpoint-sm);
  transform: translateY(-7rem);
}

form.bg-dark-subtle input,
form.bg-dark-subtle textarea,
form.bg-dark-subtle select {
  color: var(--bs-white) !important;
}

.contact-form input[type="submit"] {
  width: 100%;
}

@media (min-width: 1024px) {
  .contact-form input[type="submit"] {
    width: initial;
  }
}

/* ------------------------------- PAGE: CART ------------------------------- */
@media (min-width: 1024px) {
  .cart-box {
    max-width: 70rem;
  }
}
.cart-list .btn .icon {
  width: 1.8rem;
  height: 1.8rem;
}

.cart-list li > * {
  flex-basis: 20%;
}

.cart-list .image-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
}

.cart-actions button {
  width: 100%;
}

@media (min-width: 1024px) {
  .cart-actions button {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .cart-item .image-wrapper {
    max-width: 10rem;
  }
}

.cart-item .quantity-controller button {
  border: none !important;
  transition: none !important;
}

.cart-item .quantity-controller button:disabled {
  border: none;
  color: var(--bs-gray-200) !important;
}

/* ------------------------------ PAGE: PROFILE ----------------------------- */
.profile-page form {
  max-width: 70rem;
  width: 90%;
}

@media (min-width: 768px) {
  .profile-page form {
    padding-left: 10rem !important;
    width: 100%;
  }
}

.profile-page form .description {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .profile-page form .description {
    font-size: 1.4rem;
  }
}

.profile-page .img-deco {
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  pointer-events: none;
  transform: translateX(-50%);
}

.profile-page form input[type="submit"] {
  width: 100%;
}

@media (min-width: 768px) {
  .profile-page form input[type="submit"] {
    width: initial;
  }
}

form .show-password:hover {
  color: var(--bs-primary);
}

/* -------------------------------------------------------------------------- */
/*                                    ADMIN                                   */
/* -------------------------------------------------------------------------- */
.admin-layout-wrapper main {
  padding-bottom: 7rem;
}

@media (min-width: 1024px) {
  .admin-layout-wrapper main {
    padding-bottom: 0;
  }
}

.admin-layout-wrapper h1 {
  color: var(--bs-primary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* -------------------------------- SIDEBAR ------------------------------- */
.admin-layout-wrapper {
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .admin-layout-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.bg-white.bo-aside nav .btn-expand-menu:hover {
  background-color: var(--bs-gray-300);
}
.bg-dark.bo-aside nav .btn-expand-menu:hover {
  background-color: var(--bs-dark-bg-subtle);
}

nav:not(.expanded) .btn-expand-menu svg {
  transform: rotate(-180deg);
}

.bg-white.bo-aside nav li > a {
  color: var(--bs-dark);
}

.bg-dark.bo-aside nav li > a {
  color: var(--bs-white);
}

.bg-white.bo-aside nav li > a:hover {
  background-color: var(--bs-gray-300);
}

.bg-dark.bo-aside nav li > a:hover {
  background-color: var(--bs-dark-bg-subtle);
}

.bo-aside nav .brand {
  text-wrap: nowrap;
  transition: max-width 0.2s ease-in-out;
}

.bo-aside nav .brand {
  max-width: 0;
}

.bo-aside nav.expanded .brand {
  max-width: 50rem;
}

.bo-aside .sidebar-item {
  font-size: 1.4rem;
}

.bo-aside .sidebar-item .icon {
  width: 2.2rem;
  height: 2.2rem;
}

.bo-aside .sidebar-item .text {
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  text-wrap: nowrap;
}

.bo-aside nav:not(.expanded) .sidebar-item .text {
  max-width: 0;
  margin: 0 !important;
}

.bo-aside nav.expanded .sidebar-item .text {
  max-width: 50rem;
}

.bo-aside nav:not(.expanded) .user-wrapper,
.bo-aside nav:not(.expanded) .sidebar-item a {
  justify-content: center;
}

.bo-aside nav .user-data {
  transition: all 0.2s ease-in-out;
}

.bo-aside nav:not(.expanded) .user-data {
  max-width: 0;
  margin: 0 !important;
}

.bo-aside nav.expanded .user-data {
  max-width: 50rem;
}

/* -------------------------------- DASHBOARD ------------------------------- */
.bo-dashboard-cards {
  width: 75%;
}

@media (min-width: 768px) {
  .bo-dashboard-cards {
    width: 100%;
  }
}

.bo-dashboard-card {
  min-height: 22rem;
}

.bo-dashboard-card .number {
  font-size: 6rem;
}

/* ---------------------------------- USERS --------------------------------- */
@media (min-width: 768px) {
  .bo-table-users td {
    padding: 2rem;
  }
}

.bo-table-users .tag-role {
  border-color: var(--bs-gray-500) !important;
  color: var(--bs-gray-600);
}

.bo-table-users .tag-role.dark {
  background-color: var(--bs-gray-500);
  color: var(--bs-dark);
}

.bo-table-users .tag-role.admin {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary);
}

.bo-table-users .tag-role.admin.dark {
  background-color: var(--bs-primary);
  color: var(--bs-light) !important;
}

.btn-exit {
  top: 1rem;
  right: 1rem;
}

.dark-mode .btn-exit {
  color: var(--bs-light);
}

.btn-exit:hover {
  background-color: var(--bs-gray-300);
}

.dark-mode .btn-exit:hover {
  background-color: var(--bs-dark);
}

.bo-form-new-user .input-group input {
  width: 100%;
}

@media (min-width: 768px) {
  .modal-container {
    max-width: 60rem;
    width: 75%;
  }

  .modal-container input[type="submit"] {
    width: 100%;
  }
}

/* ---------------------------- ADD PRODUCT PAGE ---------------------------- */
.bo-add-product-form .col-img {
  flex: 0 0 40%;
}

.bo-add-product-form .col-img .image-wrapper {
  height: 25rem;
  width: 25rem;
}

/* ------------------------------ PRODUCTS PAGE ----------------------------- */
.bo-table-products .img {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (min-width: 768px) {
  .bo-table-products .img {
    margin: 0 auto;
  }
}
/* ------------------------------ EDIT PRODUCT PAGE ----------------------------- */
.icon.icon-tabler {
  width: 3rem;
  height: 3rem;
}
