:root {
  --bs-primary: #ff4655;
  --bs-primary-dark: #c42431;
  --bs-primary-rgb: 255, 70, 85;
}

/* -------------------------------- Generals -------------------------------- */
html {
  font-size: 62.5% !important;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem !important;
}
/* -------------------------------- Generals: Headings -------------------------------- */
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

/* ----------------------------- Generals: Links ---------------------------- */
a.link-primary:hover {
  color: var(--bs-dark) !important;
}

/* ---------------------------- Generals: Tables ---------------------------- */
table {
  width: 100%;
  overflow: hidden;
}

table th {
  background-color: var(--bs-gray-200);
  border-bottom: 3px solid var(--bs-gray-300);
  color: var(--bs-gray-600);
  padding: 2rem;
}

table td {
  padding: 2rem;
}

/* -------------------------------- Generals: Buttons -------------------------------- */
.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  border-color: var(--bs-dark);
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.btn.btn-primary:active {
  border-color: var(--bs-primary-dark);
  background-color: var(--bs-primary-dark);
  color: var(--bs-light);
}

.btn-primary:disabled {
  border-color: var(--bs-gray-200);
  background-color: var(--bs-gray-200);
  color: var(--bs-gray-500);
}

.btn.btn-outline-primary,
.btn.btn-outline-primary:active {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:focus-within {
  background-color: transparent;
  border-color: var(--bs-primary);
}

.btn.btn-outline-primary:hover {
  border-color: var(--bs-primary) !important;
  color: var(--bs-light);
  background-color: var(--bs-primary) !important;
  box-shadow: none !important;
}

.btn.rounded-circle {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea,
select {
  color: var(--bs-dark);
  outline: none;
}

.input-group textarea.border-3:focus,
.input-group select.border-3:focus,
.input-group input.border-3:focus {
  border: 3px solid var(--bs-primary) !important;
}

.dropdown-item:hover {
  background-color: var(--bs-dark);
  color: var(--bs-light) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-primary-dark);
  color: var(--bs-light) !important;
}

/* --------------------------------- LOADER --------------------------------- */
.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    var(--bs-primary) 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}

/* ----------------------------- HEADER ----------------------------- */
header .nav-link:hover {
  color: var(--bs-primary);
}

header .dropdown-menu .link-primary:hover {
  color: var(--bs-light) !important;
}

.header-hero {
  min-height: 40vh;
  background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/b116aec7edfba5bc9e3ec68ccd69b0e7202dcc68-3440x1020.jpg?auto=format&fit=fill&q=80&h=800);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header-hero {
    min-height: 50vh;
  }
}

.header-hero .page-title {
  font-size: 8rem;
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  .header-hero .page-title {
    font-size: 20rem;
  }
}

a.navbar-brand {
  font-size: 2.5rem;
}

.navbar-nav .btn.btn-carrito:focus,
.navbar-nav .btn.btn-carrito:focus-within {
  background-color: transparent;
  border-color: var(--bs-primary);
  color: var(--bs-primary) !important;
}

.navbar-nav .btn.btn-carrito.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-white);
}

header .btn-outline-primary.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
}

header .btn-carrito:focus {
  color: var(--bs-primary);
}

/* --------------------------------- HERO -------------------------------- */
.hero {
  background-image: url(/img/generic-background.jpeg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 60vh;
  margin-top: -7rem;
}

.hero:not(.index) h1 {
  font-size: 6rem;
}

@media (min-width: 768px) {
  .hero:not(.index) h1 {
    font-size: 18rem;
  }
}

/* --------------------------------- INDEX PAGE -------------------------------- */
.hero.index {
  background-image: url(/img/home-background.jpg);
  min-height: 80vh;
}

.hero.index .btn-light:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-light);
}

.category-card {
  min-height: 30rem;
}

.category-card .card-image {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 10rem;
  min-height: 10rem;
}

section.weapon-details .img-weapon {
  position: relative;
  height: 100vh;
  width: 90%;
  background: url(/img/pistol-img.png) center / 80% no-repeat;
}

.weapon-details .ripple,
.weapon-details .ripple::before {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}

.ripple {
  left: 35%;
  top: 40%;
}

.ripple::before {
  content: "";
  animation: rippleAnimation 1s ease-in-out infinite;
}

.ripple-tooltip,
.ripple-tooltip::before,
.ripple-tooltip::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ripple-tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border: 0.8rem solid transparent;
  border-top-color: var(--bs-light);
}
.ripple-tooltip::after {
  content: attr(title);
  background-color: var(--bs-light);
  white-space: pre;
  padding: 1rem;
  border-radius: var(--bs-border-radius);
  top: -5rem;
}

@keyframes rippleAnimation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* ----------------------------- SHOP CONTAINER ----------------------------- */
.shop-container {
  margin-top: -6rem;
}

.search-bar form {
  border-color: grey !important;
}

.search-bar input {
  border: none !important;
  outline: none !important;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------ CATEGORY LIST ----------------------------- */
.categories-wrapper {
  max-height: 0;
  transition: max-height 0.3s ease-in;
  pointer-events: none;
  overflow: hidden;
}

@media (min-width: 992px) {
  .categories-wrapper {
    max-height: 50rem;
    pointer-events: initial;
  }
}
.categories-wrapper.active {
  pointer-events: initial;
  max-height: 50rem;
}
.category-list button {
  font-size: 1.1rem;
}
.category-list button:hover {
  background-color: var(--bs-gray-400);
}

/* ------------------------------- WEAPON ITEM/CARD ------------------------------ */
.weapon-card .weapon-img {
  min-height: 10rem;
}

@media (min-width: 768px) {
  .weapon-card .weapon-img {
    min-height: 15rem;
  }
}

.weapon-img > span:not(.tag-weapon) {
  background-color: var(--bs-gray-500);
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .weapon-img > span:not(.tag-weapon) {
    width: 8rem;
    height: 8rem;
  }
}

.weapon-img img {
  transform: translate(-50%, -50%);
  max-width: 90%;
}

@media (min-width: 768px) {
  .weapon-img img {
    max-width: 60%;
  }
}

.weapon-card .actions .btn-primary {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .weapon-card .actions .btn-primary {
    font-size: 1.4rem;
  }
}

.weapon-card .actions a {
  color: var(--bs-primary);
}

.weapon-card .actions a:hover {
  color: var(--bs-light);
}

/* ---------------------------------- LOGIN --------------------------------- */
.form-login {
  max-width: 45rem; /* 450px aprox */
}

.form-login input:-webkit-autofill,
.form-login input:-webkit-autofill:hover,
.form-login input:-webkit-autofill:focus,
.form-login input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.form-login .link-primary:hover {
  color: var(--bs-light) !important;
}

/* ----------------------------- PRODUCT-DETAIL ----------------------------- */
.page-product-detail {
  background-image: url(/img/bg-product.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-details .title {
  font-size: 5rem;
}

.product-details .price {
  font-size: 3rem;
}

.input-quantity input {
  border: 0.3rem solid var(--bs-primary);
  height: 4rem;
  width: 4rem;
}

.input-quantity button:disabled {
  background-color: var(--bs-gray-200);
  border-color: var(--bs-gray-200);
  color: var(--bs-light);
}

/* ------------------------------ PAGE:CONTACT ------------------------------ */
.contact-form {
  max-width: var(--bs-breakpoint-sm);
  margin-top: -7rem;
}

/* ------------------------------- PAGE: CART ------------------------------- */
.cart-list .btn .icon {
  width: 2.8rem;
  height: 2.8rem;
}

.cart-list li > * {
  flex-basis: 20%;
}

.cart-list .image-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
}

/* -------------------------------------------------------------------------- */
/*                                    ADMIN                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- SIDEBAR ------------------------------- */
.admin-layout-wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
}

aside nav .btn-expand-menu:hover {
  background-color: var(--bs-gray-300);
}

nav:not(.expanded) .btn-expand-menu svg {
  transform: rotate(-180deg);
}

aside nav li > a {
  color: var(--bs-dark);
}

aside nav li > a:hover {
  background-color: var(--bs-gray-300);
}

aside nav .brand {
  text-wrap: nowrap;
  transition: max-width 0.2s ease-in-out;
}

aside nav .brand {
  max-width: 0;
}

aside nav.expanded .brand {
  max-width: 50rem;
}

.sidebar-item {
  font-size: 1.4rem;
}

.sidebar-item .icon {
  width: 2.2rem;
  height: 2.2rem;
}

.sidebar-item .text {
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  text-wrap: nowrap;
}

nav:not(.expanded) .sidebar-item .text {
  max-width: 0;
  margin: 0 !important;
}

nav.expanded .sidebar-item .text {
  max-width: 50rem;
}

nav:not(.expanded) .user-wrapper,
nav:not(.expanded) .sidebar-item a {
  justify-content: center;
}

nav .user-data {
  transition: all 0.2s ease-in-out;
}

nav:not(.expanded) .user-data {
  max-width: 0;
  margin: 0 !important;
}

nav.expanded .user-data {
  max-width: 50rem;
}

/* -------------------------------- DASHBOARD ------------------------------- */
.dashboard-card {
  min-height: 22rem;
}

.dashboard-card .number {
  font-size: 6rem;
}

/* ---------------------------------- USERS --------------------------------- */
.table-users .tag-role {
  border-color: var(--bs-gray-500) !important;
  color: var(--bs-gray-600);
}

.table-users .tag-role.admin {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary);
}

.btn-exit{
  top: 1rem;
  right: 1rem;
}

.btn-exit:hover{
  background-color: var(--bs-gray-300);
}

.form-new-user .input-group input{
  min-width: 50rem;
}

/* ---------------------------- ADD PRODUCT PAGE ---------------------------- */
.add-product-form .col-img {
  flex: 0 0 40%;
}

.add-product-form .col-img .image-wrapper {
  height: 25rem;
  width: 25rem;
}

/* ------------------------------ PRODUCTS PAGE ----------------------------- */
.table-products .img {
  max-width: 15rem;
}
/* ------------------------------ EDIT PRODUCT PAGE ----------------------------- */
.icon.icon-tabler {
  width: 3rem;
  height: 3rem;
}
