:root {
  --bs-primary: #ff4655;
  --bs-primary-dark: #c42431;
  --bs-primary-rgb: 255, 70, 85;
}

/* -------------------------------- Generals -------------------------------- */
html {
  font-size: 62.5% !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem !important;
}
/* -------------------------------- Generals: Headings -------------------------------- */
h1{
  font-size: 3.2rem;
}

h2{
  font-size: 2.8rem;
}

/* -------------------------------- Generals: Buttons -------------------------------- */
.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  border-color: var(--bs-light);
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.btn.btn-primary:active {
  border-color: var(--bs-primary-dark);
  background-color: var(--bs-primary-dark);
  color: var(--bs-light);
}

.btn-outline-primary {
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn-outline-primary:hover {
  border-color: var(--bs-primary);
  background-color: var(--bs-primary);
}

input {
  outline: none;
}

/* --------------------------------- LOADER --------------------------------- */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1.154;
  position: relative;
  background: conic-gradient(
    from 120deg at 50% 64%,
    #0000,
    var(--bs-primary) 1deg 120deg,
    #0000 121deg
  );
  animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  transform-origin: 50% 66%;
  animation: l27-1 1.5s infinite;
}
.loader:after {
  --s: -1;
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg))
      translate(calc(var(--s, 1) * -5px), 10px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}

/* ----------------------------- HEADING/HEADER ----------------------------- */
header nav {
  background-color: var(--bs-gray-800);
}

@media (min-width: var(--bs-breakpoint-md)) {
  header nav {
    background-color: var(--bs-dark);
  }
}

header .nav-link:hover {
  color: var(--bs-primary);
}

.header-hero {
  min-height: 40vh;
  background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/b116aec7edfba5bc9e3ec68ccd69b0e7202dcc68-3440x1020.jpg?auto=format&fit=fill&q=80&h=800);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .header-hero {
    min-height: 50vh;
  }
}

.header-hero .page-title {
  font-size: 8rem;
  top: 50%;
  left: 50%;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .header-hero .page-title {
    font-size: 20rem;
  }
}

a.navbar-brand {
  font-size: 2.5rem;
}

/* --------------------------------- INDEX PAGE -------------------------------- */
.index-hero {
  background-image: url(./img/home-background.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
}

section.weapon-details .img-weapon{
  position: relative;
  height: 100vh;
  width: 90%;
  background: url(./img/pistol-img.png) center / 80% no-repeat;
}

.weapon-details .ripple,
.weapon-details .ripple::before{
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}

.ripple{
  left: 35%;
  top: 40%;
}

.ripple::before{
  content: '';
  animation: rippleAnimation 1s ease-in-out infinite;
}

.ripple-tooltip,
.ripple-tooltip::before,
.ripple-tooltip::after{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ripple-tooltip::before{
  content: '';
  width: 0;
  height: 0;
  border: .8rem solid transparent;
  border-top-color: var(--bs-light);
}
.ripple-tooltip::after{
  content: attr(title);
  background-color: var(--bs-light);
  white-space: pre;
  padding: 1rem;
  border-radius: var(--bs-border-radius);
  top: -5rem;
}

@keyframes rippleAnimation{
  to{
    transform: scale(3);
    opacity: 0;
  }
}
/* --------------------------------- CARRITO -------------------------------- */
#popoverCarrito {
  bottom: 100%;
  left: 0%;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

#popoverCarrito.active {
  transform: translateY(99%);
}

#popoverCarrito table {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

#popoverCarrito table th {
  font-size: 1.3rem;
}

#popoverCarrito table td {
  padding-bottom: 1rem;
}

#popoverCarrito table td img {
  max-width: 8rem;
}

.carrito {
  min-width: 20rem;
}

.carrito tbody tr:last-of-type td {
  padding-bottom: 0 !important;
}

/* ----------------------------- SHOP CONTAINER ----------------------------- */
.shop-container {
  margin-top: -6rem;
}

.search-bar form {
  border-color: grey !important;
}

.search-bar input {
  border: none !important;
  outline: none !important;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

/* ------------------------------ CATEGORY LIST ----------------------------- */
.categories-wrapper {
  max-height: 0;
  transition: max-height 0.3s ease-in;
  pointer-events: none;
  overflow: hidden;
}
.categories-wrapper.active {
  pointer-events: initial;
  max-height: 50rem;
}
.category-list button {
  font-size: 1.1rem;
}
.category-list button:hover {
  background-color: var(--bs-gray-800);
}

/* ------------------------------- WEAPON ITEM/CARD ------------------------------ */
.weapon-card .weapon-img {
  min-height: 10rem;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .weapon-card .weapon-img {
    min-height: 25rem;
  }
}

.weapon-img > span:not(.tag-weapon) {
  background-color: var(--bs-gray-500);
  width: 4rem;
  height: 4rem;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .weapon-img > span:not(.tag-weapon) {
    width: 20rem;
    height: 20rem;
  }
}

.weapon-img img {
  transform: translate(-50%, -50%);
  max-width: 90%;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .weapon-img img {
    max-width: 100%;
  }
}

.weapon-card .actions .btn-primary {
  font-size: 1rem;
}

@media (min-width: var(--bs-breakpoint-md)) {
  .weapon-card .actions .btn-primary {
    font-size: 1.4rem;
  }
}

.weapon-card .actions a {
  color: var(--bs-primary);
}

.weapon-card .actions a:hover {
  color: var(--bs-light);
}

/* .tag-category{
    color: $light-border-subtle;
} */
