html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem !important;
}

.header-hero{
    min-height: 50vh;
    background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/b116aec7edfba5bc9e3ec68ccd69b0e7202dcc68-3440x1020.jpg?auto=format&fit=fill&q=80&h=800);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-hero .page-title{
    font-size: 20rem;
}

.navbar-nav .nav-item a{
    font-size: 1.4rem;
}

a.navbar-brand{
    font-size: 2.5rem;
}